<h2>
  <%= image_tag 'main-img.jpeg',class: 'top-image' %>
  
</h2>
<ul>
<% @articles.each do |article|%>
<li>
  <%= link_to article.title, article_path(article) %>
  <%=  article.title %>
  <%= link_to '編集', edit_article_path(article) ,class: 'command'%>
  <%= link_to '削除', article_path(article),
        method: :delete,
        class: 'command',
        data: { confirm: '本当に消してもいいですか?'} %>
</li>
<% end %>
</ul>