<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "トップ", articles_path,class: 'header-menu'%>
      <%= link_to '新規投稿', new_article_path, class:'header-menu' %>
      <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" %>
    </header>
    
    <h1>RailsCampBlog<h1>
    <%= yield %>
  </body>
</html>
